{% extends "master.html" %}
{% block title %}Cart{% endblock %}
{% block content %}
<style>
    th {
        padding: 2px;
        background: #ff523b;
        text-align: left;
        font-weight: bold;
        color: aliceblue;
    }
</style>
<h1 class="alert alert-info" style="text-align: center;">Cart Items</h1>
<table class="table" style="font-style: inherit;" width="100%" border-collapse="collapse">
    <tr text-a>
        <th>Image</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Action</th>
    </tr>
    {% for p in prods%}
    <tr>
        <td><img src="../static/images/{{p[0]}}" height="100px" width="100px" /></td>
        <td>{{p[1]}}</td>
        <td>{{p[2]}}</td>
        <td>{{p[7]}}</td>

        <td>
            <form action="/deleteProd" method="post">
                <input type="hidden" value="{{p[0]}}" name="pid" />
                <input type="submit" class="btn btn-link" value="Delete" />
            </form>
        </td>

    </tr>
    {% endfor%}


</table>
{% endblock %}