{% extends "admin.html" %}
{% block title %}Delete User{% endblock %}
{% block content %}

<table style="background-image: url(/static/images/logo.jpg);">
    <th>
    <td>
        zxcxcxzcxzczxczczxczxczxvcxv
        czc
        zxcxcxzcxzczxczczxczxczxvcxvzxc
        z
        xcz
        xczzxczxcxczxz
        cxc
        xczzxczxcxczxzc
        xczzxczxcxczxzxz
        cxzcxz
        czx
        <!-- xzcx
c
xzc
xz
czxc
zxc
x
c
zxc


-->

        dasdsa
        jadkjkdjasdkasdkja

    </td>
    </th>

</table>
{% endblock %}